<script>
	import contact from '../data/contact.json';
</script>

<h1>Contact Us</h1>

<svelte:head>
	<title>Contact</title>
</svelte:head>

<section class="contacts">
	{#each Object.keys(contact) as k}
		<a href={contact[k]}>{k}</a>
	{/each}
</section>

<style lang="postcss">
	.contacts {
		@apply mx-auto w-6/12;
	}
	a {
		@apply my-4 rs:my-6;
		@apply bg-dracula-darker block mx-auto w-min;
		@apply text-center font-jb-mono;
		@apply px-6 py-2 text-nord13;
		@apply rounded-lg hover:shadow-xl transition-shadow;
		font-size: var(--s2);
	}
</style>
