<script>
	import credits from '../data/credits.json';
</script>

<svelte:head>
	<title>Credits</title>
</svelte:head>

<h1>Special Thanks To:</h1>
<section class="credits">
	{#each Object.keys(credits) as k}
		<div class="credit">
			<span class="person">
				{k}
			</span>
			<span class="des">{credits[k]}</span>
		</div>
	{/each}
</section>
<p>And of course, we must say Alhamdulillah for the opportunity we've been given.</p>

<style lang="postcss">
	.credits {
		@apply mx-auto w-6/12;
	}
	.credit {
		@apply flex justify-between rs:flex-col my-4 rs:my-6;
	}
	.person {
		@apply text-nord9 font-jb-mono;
		font-size: var(--s1);
	}
	.des {
		@apply text-nord8 font-open-sans;
		font-size: var(--s1);
	}
</style>
