<svelte:head>
	<title>Sheikh Speed</title>
</svelte:head>

<h1>Sheikh Speed Dash</h1>
<a
	href="https://games.gdevelop-app.com/game-cb6213e9-c25d-4e8c-b2f9-e701c683e94e/index.html"
	class="play"
	target="blank">Play!</a
>
<p>
	In this simple 2D platformer, you play as Sheikh Speed. A man running to find as many coins as
	possible. Watch out, as there as some enemies along the way who want to disrupt your adventures.
</p>

<p>
	We at HalalNet Games, aim to create simple, yet entertaining games for all ages. Sheikh Speed Dash
	contains various Islamic teachings, that can be implemented into the daily life, These include
	basic teachings, such as saying Bismillah before doing any action. We hope that we can help apply
	any rewarding action into anyone's day.
</p>

<p>A straightforward and easy game, Sheikh Speed provides fun for all players!</p>

<p class="caution">
	The official game is set to have message boxes with Islamic reminders. For the demo release, we
	have decided to omit these boxes as newer levels and fixes are being made. In addition, credits
	aren't yet available but are a part of the game. This will be available upon release.
</p>

<h1>Screenshots</h1>
<section class="imgs">
	{#each Array(4) as _, k}
		<img src="/img/ss-{k + 1}.png" alt="Screenshot" />
	{/each}
</section>

<style lang="postcss">
	a.play {
		@apply bg-dracula-darker block mx-auto w-min;
		@apply text-center font-jb-mono;
		@apply px-6 py-2 text-nord13;
		@apply rounded-lg hover:shadow-xl transition-shadow;
		font-size: var(--xl);
	}

	.caution {
		@apply bg-nord1 p-4;
	}
	.caution::before {
		@apply block w-min mx-auto px-3 text-4xl bg-dracula-yellow text-nord0 font-jb-mono rounded-md mb-4;
		content: '!';
	}

	.imgs {
		@apply w-8/12 rs:w-11/12 mx-auto;
	}
	img {
		@apply w-full my-8;
	}
</style>
