<script>
	import { page } from '$app/stores';

	import dataNav from '../data/nav.json';
</script>

<nav>
	<img src="/favicon.png" alt="Logo" width="56" height="56" />
	<span> Sheikh Speed Dash </span>
	<section class="links">
		{#each Object.keys(dataNav) as k}
			<a href={dataNav[k]} class={$page.path == dataNav[k] ? 'text-[#8FB8DE]' : 'text-[#A8C69F]'}
				>{k}</a
			>
		{/each}
	</section>
</nav>

<style lang="postcss">
	nav {
		@apply bg-onedark-black flex rs:flex-col items-center justify-start;
		@apply px-4;
	}
	span {
		@apply text-[#B2CEDE] font-chivo;
		font-size: var(--xl);
	}

	.links {
		@apply ml-auto rs:mx-auto rs:mb-4 h-full;
	}

	a {
		@apply px-2 font-open-sans;
		@apply font-semibold transition-colors;
		font-size: var(--s1);
	}
	a:hover {
		@apply text-[#CDF7F6];
	}
</style>
