@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Krub&family=Encode+Sans&family=JetBrains+Mono&family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--xl: clamp(1.4rem, 2vw, 2rem);
	--2xl: clamp(1.8rem, 3vw, 3rem);
	--3xl: clamp(2.5rem, 3.5vw, 4rem);
	--s1: clamp(1.125rem, 2vw, 1.25rem);
	--s2: clamp(1.2rem, 2.125vw, 1.9rem);
}

body {
	@apply bg-nord0;
}

h1 {
	@apply text-center text-[#7DBA84] font-krub;
	font-size: var(--3xl);
}

p {
	@apply w-8/12 rs:w-11/12 mx-auto text-[#F7F7FF] text-center font-enc-sans my-4;
	font-size: var(--s1);
}
